.modal-backdrop {
	position: unset;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	overflow-y: scroll;
}

.mg-thumbnail {
	display: inline-block;
	width: 100% \9;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: unset !important;
	border: none;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.badge-danger {
	background: rgb(210, 68, 55);
}

.badge-success {
	background: rgb(41, 149, 115);
}

.contact-page {
	background: #fff;
	padding: 15px 15px;
}

.contact-map {
	margin-top: 25px;
	border: 2px solid #000;
	padding: 0;
}

.live-sports .live-video {
	margin-top: 7px !important;
	width: 95%;
	margin: auto;
	height: 500px;
	border: 1px solid #fff;
}

@media screen and (max-width: 1352px) {
	.live-sports .live-video {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: 536px;
		border: 1px solid #fff;
	}
}

@media screen and (max-width: 992px) {
	.live-sports .live-video {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: 420px;
		border: 1px solid #fff;
	}
}

@media screen and (max-width: 600px) {
	.live-sports .live-video {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: 280px;
		border: 1px solid #fff;
	}
	.logo img {
		width: 100%;
		margin-top: 21px;
		margin-left: 3px;
	}
	.navbar-toggle {
		margin-top: 34px;
		margin-right: 19px;
		margin-left: 16px;
	}
	.dateshow {
		margin-left: 0px;
	}
}

@media screen and (max-width: 360px) {
	.live-sports .live-video {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: 200px;
		border: 1px solid #fff;
	}
}

.live-sports .live-video-description {
	margin-top: 7px !important;
	width: 95%;
	margin: auto;
	height: auto;
	border: 2px solid #fff;
	padding: 5px;
	color: #fff;
}

@media screen and (max-width: 1352px) {
	.live-sports .live-video-description {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: auto;
		border: 2px solid #fff;
		padding: 5px;
		color: #fff;
	}
}

@media screen and (max-width: 992px) {
	.live-sports .live-video-description {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: auto;
		border: 2px solid #fff;
		padding: 5px;
		color: #fff;
	}
}

@media screen and (max-width: 600px) {
	.live-sports .live-video-description {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: auto;
		border: 2px solid #fff;
		padding: 5px;
		color: #fff;
	}
}

@media screen and (max-width: 360px) {
	.live-sports .live-video-description {
		margin-top: 7px !important;
		width: 95%;
		margin: auto;
		height: auto;
		border: 2px solid #fff;
		padding: 5px;
		color: #fff;
	}
}

.logo h3 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}

.logo h3 span {
	color: #ffe565 !important;
}

.heading_color {
	background: #1C69C2 !important;
}

.dateshow {
	background: none !important;
	margin-top: 29px !important;
}

.navbar-right {
	margin-top: 27px;
}

.mrq {
	background: #1C69C2 !important;
}

.first-lebal {
	background: #1C69C2 !important;
}

.buttonrate {
	background: #fff !important;
	color: #000 !important;
}

.mh-color {
	background: #1C69C2 !important
}

.tabMenu li a {
	font-size: 16px;
}

.tabMenu li a:hover, .tabMenu li a.active {
	background-color: black !important;
}

.qsHeading {
	background: #c3c3c3 !important
}

.qsHeading h4 {
	color: #000;
}

.betOptionWrapc {
	background: #cecece !important;
}

.betOptionWrap {
	background: #d2d1d1;
	padding-left: 15px;
}

.buttonrate {
	margin-bottom: 10px !important;
	font-size: 16px !important;
}

.qsHeading h4 {
	font-size: 19px;
}

.qsHeadinFirstLable h4 {
	font-size: 16px;
}

.badge {
	font-size: 15px;
	color: #1C69C2 !important;
	background: #fff !important;
	border: 1px solid #c00;
}

.footer-basic-centered {
	background-color: #12355d !important;
	padding-top: 1px;
	margin-top: -21px;
}

.livem {
	color: #1C69C2 !important;
	font-size: 17px;
}

.extra_live {
	background: #c00;
	color: #fff !important;
	padding: 8px 15px;
	border-radius: 4px;
	transition: .3s;
	font-size: 15px;
}

.extra_live:hover {
	color: #c00 !important;
	background: #fff;
}

.footer-links a {
	color: #fff;
}

.balanceTabWrap {
	background: #064729!important;
	color: #fff!important;
}

.owl-carousel {
	background: #023672;
}

.userAlert {
	color: #fff !important;
}

#sel1 option {
	background: #1C69C2;
	color: #fff;
}

.betOptionWrap span {
	color: #1C69C2 !important;
}

.betOptionWrap .text {
	color: #000 !important;
}

.border {
	border: 1px solid #dfdfdf;
}

.p-2 {
	padding: 5px 10px;
}

.text-right {
	text-align: right;
}

.multi-bet-count-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 99999;
	border-radius: 0px;
	padding: 10px 50px;
	font-size: 17px;
	background: #1c69c2;
	color: #fff;
	transition: 0.3s;
	display: none;
}

.multi-bet-count-button:hover {
	color: #fff;
	margin-bottom: 5px;
}

.multi-bet-count-button span {
	background: #c04425;
	padding: 5px;
	border-radius: 16px;
	margin-right: 8px;
	font-size: 13px;
}

.modal #multi-bet-data .game-list {
	margin-bottom: 25px;
	padding-bottom: 10px;
	padding-left: 0;
	border-bottom: 1px dotted rgb(207, 205, 205);
}

.modal #multi-bet-data .game-list li {
	list-style: none;
	font-size: 12px;
	margin-bottom: 10px;
}

.modal #multi-bet-data .rate {
	font-size: 16px;
	padding: 2px 10px;
	border: 1px solid brown;
	border-radius: 16px;
	margin-left: 8px;
	background: #fff;
	font-weight: bold;
	color: #1c69c2;
}

.modal .equiation {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.modal .equiation ul li {
	list-style: none;
}

.multiAmountBtn {
	display: inline-block;
	padding: 4px 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #296d5e;
	margin-bottom: 5px;
	cursor: pointer
}

.multiAmountBtn:active, .multiAmountBtn:focus {
	background: #296d5e;
	color: #fff
}

.active {
	background: #296d5e;
	color: #fff
}

.d-flex{
	width: 100%;
	position: relative;
	padding-top: 5px;
}

.d-flex p{
	color: #000;
	font-weight: bold;
	margin-bottom: 0;
}

.d-flex .ml-auto{
	position: absolute;
	top: 10px;
	right: 0;
}

.multi-bet-data .d-flex .ml-auto{
	position: absolute;
	top: 0px;
	right: 0;
}

.multi-bet-data .d-flex .ml-auto .btn{
	color: red;
}