.bet-modal .tabs {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

.bet-modal .tabs li {
    list-style: none;
    display: inline-block;
}

.bet-modal .tabs li .btn {
    padding: 10px 50px;
    transition: 0.4s;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    background: #005a4c;
}

.bet-modal .tabs li .current {
    background: #1c69c2;
}

.bet-modal .tabs-content .tab {
    display: none;
    transition: 0.4s;
}

.bet-modal .tabs-content .current-tab {
    display: block;
}

.bet-modal .tabs-content {
    padding: 5px 15px;
}